html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 62.5%;
  font-size: 1em;
  color: rgb(55, 55, 55);
  line-height: 1.3em;
  font-family: 'Alata', sans-serif;
  font-weight: 300;
  background: white;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.kt__text-container {
  width: 80%;
  margin: 4em auto;
}

.kt__heading {
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5em;
}

.kt__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(55, 55, 55);
  margin: 2em 0;
  font-family: 'Alata', sans-serif;
  outline: none;
  height: 28px;
  display: inline-block;
  font-size: .9em;
  padding: .4em 1em;
  box-sizing: border-box;
  display: block;
}

.kt__btn {
  width: 80%;
  margin: 1.5em auto;
  display: block;
  font-size: .85em;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  padding: 1em 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(180, 180, 180,0.15), 0 10px 10px rgba(180, 180, 180,0.12);
  background: rgb(201, 114, 134);
  color: white;
}

.kt__buttons-container {
  text-align: center;
}

.kt__btn:disabled {
  background: rgba(201, 114, 134, .6);
}

.kt__image {
  width: 33%;
  display: block;
  margin: 2em auto;
  box-sizing: border-box;
}

.kt__conference-created-container {
  text-align: center;
  padding: .5em 2em;
  box-sizing: border-box;
  font-size: .9em;
}      

.kt__display-none {
  display: none;
}

.kt__conference-created-el {
  display: block;
  padding: .5em 0;
  line-height: 1.5em;
}

.kt__conference-name {
  display: block;
  padding: 1em 0;
}

.kt__success-message-container {
  font-size: 1.1em;
  margin-top: 1em auto 0 auto;
  text-align: center;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 95%;
}

.kt__success-message-link {
  color: rgb(201, 114, 134);
  display: block;
  width: 100%;
}
